plugins {
    java
}

group = "{{packageName}}"
version = "1.0.0"

repositories {
    mavenCentral()
}

dependencies {
    compileOnly("dev.hytale:api:1.0")
}

java {
    toolchain {
        languageVersion.set(JavaLanguageVersion.of(25))
    }
}
