{
  "format_version": 1,
  "header": {
    "name": "{{name}}",
    "uuid": "{{uuid}}",
    "version": [1, 0, 0]
  },
  "modules": [
    {
      "type": "{{type}}",
      "uuid": "{{moduleUuid}}",
      "version": [1, 0, 0]
    }
  ],
  "description": "{{description}}"
}
